﻿@page "/estudiantes/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Inscripción Estudiante</h3>
<hr />
<br>

@if (MostrarFormulario)
{
    <FormularioEstudiante @ref="formularioEstudiante" EstudianteActualizacionDTO="EstudianteActualizacionDTO" OnValidSubmit="Crear" />
}
else
{
    <p>Cargando...</p>
}

@code {

    EstudianteActualizacionDTO EstudianteActualizacionDTO = null!;
    private bool MostrarFormulario = false;
    private FormularioEstudiante? formularioEstudiante;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {

        //Console.WriteLine(EstudianteId);
        var respuestaHTTP = await repositorio.Get<EstudianteActualizacionDTO>($"api/estudiantes/crear");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("estudiantes");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            EstudianteActualizacionDTO = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }
    }

    private async Task Crear()
    {

        var httpResponse = await repositorio.Post("api/estudiantes", EstudianteActualizacionDTO);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioEstudiante!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("estudiantes");
        }

    }
}