﻿@page "/estudiantes/editar/{EstudianteId:int}"
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NavigationManager navigationManager


<h3>Inscripción Estudiante</h3>
<hr />
<br>
    @if (MostrarFormulario)
    {
        <FormularioEstudiante @ref="formularioEstudiante" EstudianteActualizacionDTO="EstudianteActualizacionDTO" OnValidSubmit="Editar" />
    }
    else
    {
        <p>Cargando...</p>
    }

@code {

    [Parameter] public int EstudianteId { get; set; }
    EstudianteActualizacionDTO EstudianteActualizacionDTO = null!;
    private bool MostrarFormulario = false;
    private FormularioEstudiante? formularioEstudiante;


    protected override async Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
     
        //Console.WriteLine(EstudianteId);
        var respuestaHTTP = await repositorio.Get<EstudianteActualizacionDTO>($"api/estudiantes/actualizar/{EstudianteId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("estudiantes");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            EstudianteActualizacionDTO = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }        
    }

    private async Task Editar()
    {

        var respuestaHTTP = await repositorio.Put("api/estudiantes", EstudianteActualizacionDTO);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioEstudiante!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("estudiantes");
        }

       

        

        
    }
}