﻿
@inject SweetAlertService swal;

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContex" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />


    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nombre: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Nombre" class="form-control" @bind-Value="@Estudiante.Nombre" />
            <ValidationMessage For="@(() => Estudiante.Nombre)" />
        </div>
    </div>

     <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Apellido: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Apellido" class="form-control" @bind-Value="@Estudiante.Apellido" />
            <ValidationMessage For="@(() => Estudiante.Apellido)" />
        </div>
    </div>
   
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Tipo de documento: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <select class="form-select" @bind="@Estudiante.TipoDocumento">
                <option value="0">-- Tipo de documento --</option>
                <option value="DNI">DNI</option>
                <option value="Pasaporte">Pasaporte</option>
                <option value="DNI Ex.">DNI Ex.</option>
            </select>
        </div>
    </div>
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nro documento: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput class="form-control" @bind-Value="@Estudiante.NroDocumento" onKeyPress="if(this.value.length==9) return false;" />
            <ValidationMessage For="@(() => Estudiante.NroDocumento)" />
        </div>
    </div>

    
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Fecha nacimiento: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <DateInput class="form-control" @bind-Value="@Estudiante.FechaNacimiento" />
            <ValidationMessage For="@(() => Estudiante.FechaNacimiento)" />
        </div>
    </div>
    

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Correo: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Correo" class="form-control" @bind-Value="@Estudiante.Correo" />
            <ValidationMessage For="@(() => Estudiante.Correo)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Teléfono: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Teléfono" class="form-control" @bind-Value="@Estudiante.Telefono" />
            <ValidationMessage For="@(() => Estudiante.Telefono)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Ocupación: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Ocupación" class="form-control" @bind-Value="@Estudiante.Ocupacion" />
            <ValidationMessage For="@(() => Estudiante.Ocupacion)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Contacto emergencia: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Contacto emergencia" class="form-control" @bind-Value="@Estudiante.ContactoEmergencia" />
            <ValidationMessage For="@(() => Estudiante.ContactoEmergencia)" />
        </div>
    </div>
    <label class="col-auto col-lg-3 col-form-label">Dirección:</label>
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Calle: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Calle" class="form-control" @bind-Value="@Estudiante.Calle" />
            <ValidationMessage For="@(() => Estudiante.Calle)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nro calle: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Nro calle" class="form-control" @bind-Value="@Estudiante.NroCalle" />
            <ValidationMessage For="@(() => Estudiante.NroCalle)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Depto: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Depto" class="form-control" @bind-Value="@Estudiante.Depto" />
            <ValidationMessage For="@(() => Estudiante.Depto)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Código postal: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Código postal" class="form-control" @bind-Value="@Estudiante.CP" />
            <ValidationMessage For="@(() => Estudiante.CP)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Turno: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Estudiante.TurnoId" @onfocusout="OnFocusOutTurno">
                <option value="0" default>-- Seleccionar un turno --</option>
                @foreach (var coord in TurnosSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Estudiante.TurnoId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Curso: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@CursadaActual.CursoId">
                <option value="0" default>-- Seleccionar un curso --</option>
                @foreach (var coord in CursosSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }
            </InputSelect>
        </div>
        <label class="col-auto">Año Lectivo: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput Disabled="true" placeholder="Año" class="form-control" @bind-Value="@CursadaActual.AnioCursada" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Observ.: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputTextArea placeholder="Observaciones" class="form-control" @bind-Value="@Estudiante.Observacion" />
            <ValidationMessage For="@(() => Estudiante.Observacion)" />
        </div>
    </div> 
   
  
    <br />
    <button class="btn btn-success">Guardar cambios</button>

</EditForm>

@code {

    private EditContext editContex = null!;
    private Estudiante Estudiante = null!;
    private EstudianteCurso CursadaActual = null!;

    private List<SelectorMultipleModel> TurnosSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> CursosSeleccionables { get; set; } = new List<SelectorMultipleModel>();

    string? imagenURL;

    protected override void OnInitialized()
    {
        Estudiante = EstudianteActualizacionDTO.Estudiante;
        editContex = new(Estudiante);

        CursadaActual = EstudianteActualizacionDTO.CursadaActual;

        TurnosSeleccionables = EstudianteActualizacionDTO.Turnos.Select(x => new SelectorMultipleModel(x.TurnoId.ToString(), $"{x.Descripcion}")).ToList();
        CursosSeleccionables = EstudianteActualizacionDTO.Cursos.Where(c => c.TurnoId == Estudiante.TurnoId)
        .Select(x => new SelectorMultipleModel(x.CursoId.ToString(), $"{x.Anio}º {x.Division} (T.{x.Turno!.Descripcion.Substring(0, 1).ToUpper()}.)")).ToList();
    }

    [Parameter]
    [EditorRequired]
    public EstudianteActualizacionDTO EstudianteActualizacionDTO { get; set; } = null!;


    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContex.IsModified();

        if (!formularioFueEditado)
            return;

        if (FormularioPosteadoConExito)
            return;

        var confirmado = await swal.ConfirmarPerderCambios();

        if (confirmado)
            return;

        context.PreventNavigation();
    }

    private async Task OnDataAnnotationsValidated()
    {
        await OnValidSubmit.InvokeAsync();
    }

    private async Task OnFocusOutTurno()
    {

        Console.WriteLine($"Estudiante turnoid {Estudiante.TurnoId}");

        if (Estudiante.TurnoId != 0)
        {
            CursosSeleccionables = EstudianteActualizacionDTO.Cursos
            .Where(c => c.TurnoId == Estudiante.TurnoId)
            .Select(x => new SelectorMultipleModel(x.CursoId.ToString(), $"{x.Anio}º {x.Division} (T.{x.Turno!.Descripcion.Substring(0, 1).ToUpper()}.)")).ToList();
        }

        await Task.CompletedTask;
    }
    
    

}
