﻿@page "/estudiantes"
@page "/estudiantes/buscar"
@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<h3>Inscripciones</h3>

<div class="mb-3">
    <a href="estudiantes/crear" class="btn btn-info">Nuevo Estudiante</a>
</div>

<hr />

<h4>Buscar estudiantes</h4>

<div class="row g-3 align-items-center mb-3">
    <div class="col-sm-3">
        <input type="text" class="form-control" id="titulo" placeholder="Nombre estudiante" 
        autocomplete="off"
        @bind-value="nombre" @bind-value:event="oninput"
        @onkeypress="@((KeyboardEventArgs e) => TituloKeyPress(e))"
        />
    </div>
    <div class="col-sm-3">
        <select class="form-select" @bind="turnoSeleccionado">
            <option value="0">-- Seleccione un turno --</option>
            @foreach (var item in turnos)
            {
                <option value="@item.TurnoId">@item.Descripcion</option>
            }
        </select>
    </div>

    <div class="col-sm-6" style="display: flex;">
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="enProceso" @bind="enProceso" />
            <label class="form-check-label" for="enProceso">En Proceso</label>
        </div>
        <div class="form-check me-2">
            <input type="checkbox" class="form-check-input" id="matriculados" @bind="matriculados" />
            <label class="form-check-label" for="matriculados">Matriculados</label>
        </div>        
    </div>
    
    <div class="col-12">
        <button type="button" class="btn btn-primary" @onclick="CargarNuevosEstudiantes">Filtrar</button>
        <button type="button" class="btn btn-danger" @onclick="LimpiarOnClick">Limpiar</button>
    </div>

</div>
<br />
<Paginacion PaginaActual="paginaActual" PaginasTotales="paginasTotales"
            PaginaSeleccionada="PaginaSeleccionada" />
<br />

<ListadoEstudiantes Estudiantes="Estudiantes"></ListadoEstudiantes>



@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string nombre { get; set; } = "";
    [Parameter]
    [SupplyParameterFromQuery(Name = "turnoid")]
    public int turnoSeleccionado { get; set; }
    private List<Turno> turnos = new List<Turno>();
    [Parameter]
    [SupplyParameterFromQuery(Name = "enProceso")]
    public bool enProceso { get; set; } = false;
    [Parameter]
    [SupplyParameterFromQuery]
    public bool matriculados { get; set; } = false;

    private List<Estudiante>? Estudiantes;
    Dictionary<string, string> queryStringsDict = new Dictionary<string, string>();
    [Parameter]
    [SupplyParameterFromQuery(Name = "pagina")]
    public int paginaActual { get; set; } = 1;
    private int paginasTotales;

    protected override async Task OnInitializedAsync()
    {
        if (paginaActual == 0) { paginaActual = 1; }

        await ObtenerTurnos();
        var queryStrings = GenerarQueryStrings();
        await RealizarBusqueda(queryStrings);
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await CargarNuevosEstudiantes();
    }

    private async Task ObtenerTurnos()
    {
        var respuestaHTTP = await repositorio.Get<List<Turno>>("api/turnos");
        turnos = respuestaHTTP.Response!;
    }

    private async Task TituloKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await CargarNuevosEstudiantes();
        }
    }

    private async Task CargarNuevosEstudiantes()
    {
        var queryStrings = GenerarQueryStrings();
        navigationManager.NavigateTo("/estudiantes/buscar?" + queryStrings);
        await RealizarBusqueda(queryStrings);
    }

    private async Task RealizarBusqueda(string queryStrings)
    {
        var respuestaHTTP = await repositorio.Get<List<Estudiante>>("api/estudiantes/filtrar?" + queryStrings);

        if (respuestaHTTP.HttpResponseMessage.IsSuccessStatusCode)
        {
            paginasTotales = int.Parse(respuestaHTTP.HttpResponseMessage
            .Headers.GetValues("totalPaginas").FirstOrDefault()!);
            Estudiantes = respuestaHTTP.Response;
        }
        else
        {
            Console.WriteLine(respuestaHTTP.HttpResponseMessage.StatusCode);
        }


        
    }

    private string GenerarQueryStrings()
    {
        if (queryStringsDict is null) { queryStringsDict = new Dictionary<string, string>(); }

        queryStringsDict["turnoid"] = turnoSeleccionado.ToString();
        queryStringsDict["nombre"] = nombre ?? string.Empty;
        queryStringsDict["matriculados"] = matriculados.ToString();
        queryStringsDict["enProceso"] = enProceso.ToString();
        queryStringsDict["pagina"] = paginaActual.ToString();

        // generoid=7&titulo=moana...
        var valoresPorDefecto = new List<string>() { "false", "", "0" };

        return string.Join("&", queryStringsDict
                                .Where(x => !valoresPorDefecto.Contains(x.Value.ToLower()))
                                .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}")
                                .ToArray());
    }

    private async Task LimpiarOnClick()
    {
        nombre = "";
        turnoSeleccionado = 0;
        enProceso = false;
        matriculados = false;
        await CargarNuevosEstudiantes();
    }
}

