﻿@page "/areas/crear"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Area</h3>
<hr />


@if (MostrarFormulario)
{
    <FormularioArea @ref="formularioArea" OnValidSubmit="Crear" 
        AreaActualizacionDTO="areaActualizacionDTO" />
}
else
{
    <p>Cargando...</p>
}

@code {

    private AreaActualizacionDTO areaActualizacionDTO = null!;
    private FormularioArea? formularioArea;
    public bool MostrarFormulario { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();        

    }

    private async Task Cargar()
    {
        var respuestaHTTP = await repositorio.Get<AreaActualizacionDTO>($"api/areas/crear");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("areas");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            areaActualizacionDTO = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }
    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/areas", areaActualizacionDTO);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioArea!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("areas");
        }
    }
}
