﻿@page "/areas/editar/{AreaId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Area</h3>
<hr />

@if (MostrarFormulario)
{
    <FormularioArea @ref="formularioArea"
                    AreaActualizacionDTO="AreaActualizacionDTO"                  
                    OnValidSubmit="Editar" />
}
else
{
    <p>Cargando...</p>    
}

@code {
    [Parameter] public int AreaId { get; set; }
    AreaActualizacionDTO AreaActualizacionDTO = new AreaActualizacionDTO();
    private FormularioArea? formularioArea;
    private bool MostrarFormulario = false;

    protected override async Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<AreaActualizacionDTO>($"api/areas/actualizar/{AreaId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Areas");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            AreaActualizacionDTO = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }
    }
      

    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/areas", AreaActualizacionDTO);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioArea!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("areas");
        }
    }
}
