﻿@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContex" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />   

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nombre: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputText placeholder="Ingrese el nombre del area" class="form-control" @bind-Value="@Area.Nombre" />
            <ValidationMessage For="@(() => Area.Nombre)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Coordinador: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Area.CoordinadorId">
                <option value="0" default>-- Seleccionar un coordinador --</option>
                @foreach (var coord in CoordinadorSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Area.CoordinadorId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label>Asignaturas:</label>
        <hr/>
        <SelectorMultiple NoSeleccionados="NoSeleccionadas" Seleccionados="Seleccionadas"/>
    </div>

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    private EditContext editContex = null!;

    private List<SelectorMultipleModel> CoordinadorSeleccionables { get; set; } = new List<SelectorMultipleModel>();

    private List<SelectorMultipleModel> Seleccionadas { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> NoSeleccionadas { get; set; } = new List<SelectorMultipleModel>();
      

    [Parameter]
    [EditorRequired]
    public AreaActualizacionDTO AreaActualizacionDTO { get; set; } = null!;

    private Area Area { get; set; } = null!;


    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContex.IsModified();

        if (!formularioFueEditado)
            return;

        if (FormularioPosteadoConExito)
            return;

        var confirmado = await swal.ConfirmarPerderCambios();

        if (confirmado)
            return;

        context.PreventNavigation();
    }

    protected override void OnInitialized()
    {
        Area = AreaActualizacionDTO.Area;

        editContex = new(Area);

        CoordinadorSeleccionables = AreaActualizacionDTO.Coordinadores.Select(x => new SelectorMultipleModel(x.DocenteId.ToString(), $"{x.Nombre} {x.Apellido}")).ToList();
        Seleccionadas = AreaActualizacionDTO.AsignaturasSeleccionadas.Select(x => new SelectorMultipleModel(x.AsignaturaId.ToString(), x.Nombre)).ToList();
        NoSeleccionadas = AreaActualizacionDTO.AsignaturasNoSeleccionadas.Select(x => new SelectorMultipleModel(x.AsignaturaId.ToString(), x.Nombre)).ToList();
    }

    private async Task OnDataAnnotationsValidated()
    {
        AreaActualizacionDTO.AsignaturasIds = Seleccionadas.Select(x => int.Parse(x.Llave)).ToList();
        await OnValidSubmit.InvokeAsync();
    }


}
