﻿@page "/areas"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@* @attribute [Authorize(Roles = "admin")] *@

<h3>Indice Areas</h3>
<hr />

<div class="mb-3">
    <a href="areas/crear" class="btn btn-info">Crear Area</a>
</div>

<Paginacion PaginaActual="paginaActual" 
    PaginasTotales="paginasTotales"
    PaginaSeleccionada="PaginaSeleccionada"
    ></Paginacion>

<ListadoGenerico Listado="Areas">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Coordinador</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Areas!)
                {
                    <tr>
                        <td>
                            <Button Color="ButtonColor.Success" Size="Size.Small"
                            @onclick=@(() => navigationManager.NavigateTo($"areas/editar/{item.AreaId}"))>Editar</Button>
                            <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick=@(() => Borrar(item))>Borrar</Button>
                            @* <a href="areas/editar/@item.AreaId" class="btn btn-success">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Borrar(item))>Borrar</button> *@
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Coordinador?.Nombre @item.Coordinador?.Apellido
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico> 


@code {
    public List<Area>? Areas { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var respuestaHTTP = await repositorio.Get<List<Area>>($"api/areas?pagina={pagina}");
        Areas = respuestaHTTP.Response!;
        paginasTotales = int.Parse(respuestaHTTP.HttpResponseMessage
            .Headers.GetValues("totalPaginas").FirstOrDefault()!);
    }

    private async Task Borrar(Area Area)
    {
        var responseHTTP = await repositorio.Delete($"api/areas/{Area.AreaId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Areas");
            }
            else
            {
                var mensajeError = await responseHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }
}
