﻿@page "/asignaturas/crear"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Asignatura</h3>
<hr />


<FormularioAsignatura OnValidSubmit="Crear" Asignatura="Asignatura" />

@code {
    private Asignatura Asignatura = new Asignatura();

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/asignaturas", Asignatura);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("asignaturas");
        }
    }
}
