﻿@page "/asignaturas/editar/{AsignaturaId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Asignatura</h3>
<hr />

@if (Asignatura is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioAsignatura Asignatura="Asignatura" OnValidSubmit="Editar" />
}

@code {
    [Parameter] public int AsignaturaId { get; set; }
    Asignatura? Asignatura;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(AsignaturaId);
        var respuestaHTTP = await repositorio.Get<Asignatura>($"api/asignaturas/{AsignaturaId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("asignaturas");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Asignatura = respuestaHTTP.Response;
        }
    }

    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/Asignaturas", Asignatura);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            navigationManager.NavigateTo("asignaturas");
        }
    }
}
