﻿<EditForm Model="Asignatura" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />


    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nombre: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputText placeholder="Ingrese el nombre" class="form-control" @bind-Value="@Asignatura.Nombre" onKeyPress="if(this.value.length==30) return false;" />
            <ValidationMessage For="@(() => Asignatura.Nombre)" />
        </div>
    </div>
   
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Año en que se cursa: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput class="form-control" @bind-Value="@Asignatura.AnioCurso" onKeyPress="if(this.value.length==1) return false;" />
            <ValidationMessage For="@(() => Asignatura.AnioCurso)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Carga horaria semanal: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput class="form-control" @bind-Value="@Asignatura.CargaHorariaSemanal" onKeyPress="if(this.value.length==2) return false;" />
            <ValidationMessage For="@(() => Asignatura.CargaHorariaSemanal)" />
        </div>
    </div>
     


   @*<div class="mb-3">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@imagenURL" />
    </div> *@

    @* <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Asignatura.Biografia"
        For=@(() => Asignatura.Biografia)
        Label="Biografía" />
    </div> *@

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    string? imagenURL;


    protected override void OnInitialized()
    {
        // if (!string.IsNullOrEmpty(Asignatura.Foto))
        // {
        //     imagenURL = Asignatura.Foto;
        //     Asignatura.Foto = null;
        // }
    }

  

    [Parameter]
    [EditorRequired]
    public Asignatura Asignatura { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }
}
