﻿@page "/asignaturas"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@* @attribute [Authorize(Roles = "admin")] *@

<h3>Indice Asignaturas</h3>
<hr />


<div class="mb-3">
    <a href="asignaturas/crear" class="btn btn-info">Crear Asignatura</a>
</div>

<Paginacion PaginaActual="paginaActual" 
    PaginasTotales="paginasTotales"
    PaginaSeleccionada="PaginaSeleccionada"
    ></Paginacion>

<ListadoGenerico Listado="Asignaturas">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Año</th>
                    <th>Carga horaria</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Asignaturas!)
                {
                    <tr>
                        <td>
                            <Button Color="ButtonColor.Success" Size="Size.Small"
                            @onclick=@(() => navigationManager.NavigateTo($"asignaturas/editar/{item.AsignaturaId}"))>Editar</Button>
                            <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick=@(() => Borrar(item))>Borrar</Button>
                        @*     <a href="asignaturas/editar/@item.AsignaturaId" class="btn btn-success">Editar</a>
                            <button class="btn btn-danger" @onclick=@(() => Borrar(item))>Borrar</button> *@
                        </td>
                        <td>
                            @item.AsignaturaId
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.AnioCurso
                        </td>
                        <td>
                            @item.CargaHorariaSemanal
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>


@code {
    public List<Asignatura>? Asignaturas { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var respuestaHTTP = await repositorio.Get<List<Asignatura>>($"api/asignaturas?pagina={pagina}");
        Asignaturas = respuestaHTTP.Response!;
        paginasTotales = 
        int.Parse(respuestaHTTP.HttpResponseMessage
            .Headers.GetValues("totalPaginas").FirstOrDefault()!);
    }

    private async Task Borrar(Asignatura docente)
    {
        var responseHTTP = await repositorio.Delete($"api/asignaturas/{docente.AsignaturaId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("asignaturas");
            }
            else
            {
                var mensajeError = await responseHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }
}
