﻿<div class="me-2 mb-2" style="text-align: center">
    <a href="@urlEstudiante">
        <img src="/img/image-person.png" alt="foto" style="width: 200px; height: 200px" />
    </a>
    <p style="max-width: 225px; height: 44px; font-size: 15px; font-weight: bold">
        <a href="@urlEstudiante" class="text-decoration-none">@Estudiante.Nombre</a>
    </p>
    <AuthorizeView Roles="admin">
        <div>
            <a class="btn btn-info btn-sm" href="estudiantes/editar/@Estudiante.EstudianteId">Editar</a>
            <button type="button" class="btn btn-danger btn-sm"
                    @onclick=@(() => EliminarEstudiante.InvokeAsync(Estudiante))>
                Borrar
            </button>
        </div>
    </AuthorizeView>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public Estudiante Estudiante { get; set; } = null!;
    [Parameter]
    public bool MostrarBotones { get; set; } = false;
    [Parameter]
    public EventCallback<Estudiante> EliminarEstudiante { get; set; }
    private string urlEstudiante = string.Empty;

    protected override void OnInitialized()
    {
        urlEstudiante = $"estudiantes/editar/{Estudiante.EstudianteId}";
    }
}

