﻿@inject SweetAlertService swal
@typeparam Titem

@if (Listado is null)
{
    @if (Cargando is null)
    {
        <img alt="cargando"
     src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" />
        //swal.ShowLoadingAsync();
    }
    else
    {
        @Cargando
    }
}
else if (Listado.Count == 0)
{
    @if (NoHayRegistros is null)
    {
         <p>No hay registros para mostrar.</p>
    }
    else
    {
        @NoHayRegistros
    }
}
else
{
    if (HayRegistros is not null)
    {
        @foreach (var elemento in Listado)
        {
            @HayRegistros(elemento)
        }
    }
    else
    {
        @HayRegistrosCompleto
    }

}

@code {
    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;

    [Parameter]
    public RenderFragment NoHayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment<Titem> HayRegistros { get; set; } = null!;

    [Parameter]
    public RenderFragment HayRegistrosCompleto { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public List<Titem> Listado { get; set; } = null!;
}
