﻿@inject IJSRuntime js
@inject SweetAlertService swal
@inject IRepositorio repositorio

<div style="display: flex; flex-wrap:wrap; align-items: center;">
    <ListadoGenerico Listado="Estudiantes">
        <HayRegistros Context="estudiante">
            <EstudianteIndividual Estudiante="estudiante"
                                EliminarEstudiante="EliminarEstudiante" @key="estudiante.EstudianteId" />
        </HayRegistros>
    </ListadoGenerico>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public List<Estudiante>? Estudiantes { get; set; }

    private async Task EliminarEstudiante(Estudiante estudiante)
    {
        //var confirmado = await js.Confirm($"¿Desea borrar la estudiante {estudiante.Nombre}?");

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Desea borrar el estudiante {estudiante.Nombre} {estudiante.Apellido}?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            Estudiantes!.Remove(estudiante);
                       
        }
    }
}

