﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">R3App</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
       <div class="nav-item px-3">
            <NavLink class="nav-link" href="asignaturas">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Asignaturas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="areas">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Areas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudiantes">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="control-asistencia/editar">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Control asistencia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cursos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cursos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="informes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Informes 
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Usuarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turnos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Turnos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docentes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Docentes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="legajos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Legajos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="partes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Partes Diarios
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="libro-temas">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Libros de Temas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="talleres">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Talleres de Apoyo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="proyectos">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Proyectos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
