﻿
<div class="selector-multiple">
    <div>
        <label><b>No seleccionados</b></label>
        <ul class="selectable-ul">
            @foreach (var item in NoSeleccionados)
            {
                <li @onclick=@(() => Seleccionar(item))>@item.Valor</li>
            }
        </ul>
    </div>
    <div class="selector-multiple-botones">
        <button type="button" class="btn btn-info" @onclick="SeleccionarTodo">>></button>
        <button type="button" class="btn btn-info" @onclick="DeseleccionarTodo">@removerTodoTexto</button>
    </div>
    <div>
        <label><b>Seleccionados</b></label>
        <ul class="selectable-ul">
            @foreach (var item in Seleccionados)
            {
                <li @onclick=@(() => Deseleccionar(item))>@item.Valor</li>
            }
        </ul>
    </div>
</div>


<style>
    .selector-multiple {
        display: flex;
    }

    .selectable-ul {
        height: 300px;
        overflow-y: auto;
        list-style-type: none;
        width: 200px;
        padding: 0;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

        .selectable-ul li {
            cursor: pointer;
            border-bottom: 1px #eee solid;
            padding: 2px 10px;
            font-size: 14px;
        }

            .selectable-ul li:hover {
                background-color: #08c
            }

    .selector-multiple-botones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px
    }

        .selector-multiple-botones button {
            margin: 5px;
        }

    .checked {
        color: orange;
    }
</style>

@code {
    private string removerTodoTexto = "<<";

    [Parameter] public List<SelectorMultipleModel> NoSeleccionados { get; set; } 
        = new List<SelectorMultipleModel>();

    [Parameter]
    public List<SelectorMultipleModel> Seleccionados { get; set; }
       = new List<SelectorMultipleModel>();

    private void Seleccionar(SelectorMultipleModel item)
    {
        NoSeleccionados.Remove(item);
        Seleccionados.Add(item);
    }

    private void Deseleccionar(SelectorMultipleModel item)
    {
        Seleccionados.Remove(item);
        NoSeleccionados.Add(item);
    }

    private void SeleccionarTodo()
    {
        Seleccionados.AddRange(NoSeleccionados);
        NoSeleccionados.Clear();
    }

    private void DeseleccionarTodo()
    {
        NoSeleccionados.AddRange(Seleccionados);
        Seleccionados.Clear();
    }
}
