﻿@page "/control-asistencia/editar"
@page "/asistencias/buscar"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject IRepositorio repositorio
@inject NavigationManager navigationManager

<h3>Control de Asistencia</h3>
<hr />
<br>

<h4>Buscar curso </h4>

<div class="row g-3 align-items-center mb-3">

    <div class="col-sm-2">
       <DateInput class="form-control" @bind-Value="fechaSeleccionado" />
    </div>
      
    <div class="col-sm-2">
        <select class="form-select" @bind="turnoSeleccionado" @onblur="CargarRegistroAsistencias">
            <option value="0">-- Seleccione un turno --</option>
            @foreach (var item in TurnosSeleccionables)
            {
                <option value="@Convert.ToInt32(item.Llave)">@item.Valor</option>
            }
        </select>
    </div>

    <div class="col-sm-2">
        <select class="form-select" @bind="cursoSeleccionado" @onblur="CargarRegistroAsistencias">
            <option value="0">-- Seleccione un curso --</option>
            @foreach (var item in CursosSeleccionables)
            {
                <option value="@Convert.ToInt32(item.Llave)">@item.Valor</option>
            }
        </select>
    </div>

   @*  <div class="col-sm-3">
        <select class="form-select" @bind="asignaturaSeleccionado" @onblur="CargarRegistroAsistencias">
            <option value="0">-- Seleccione una asignatura --</option>
            @foreach (var item in AsignaturasSeleccionables)
            {
                <option value="@Convert.ToInt32(item.Llave)">@item.Valor</option>
            }
        </select>
    </div>

    <div class="col-sm-3">
        <select class="form-select" @bind="docenteSeleccionado">
            <option value="0">-- Seleccione un docente/preceptor --</option>
            @foreach (var item in DocentesSeleccionables)
            {
                <option value="@Convert.ToInt32(item.Llave)">@item.Valor</option>
            }
        </select>
    </div> *@

    <div class="col-12">
        <button type="button" class="btn btn-primary" @onclick="CargarRegistroAsistencias">Filtrar</button>
        <button type="button" class="btn btn-danger" @onclick="LimpiarOnClick">Limpiar</button>
    </div>

</div>

<Paginacion PaginaActual="paginaActual" PaginasTotales="paginasTotales"
            PaginaSeleccionada="PaginaSeleccionada" />
<br />

@if(MostrarFormulario)
{
    <FormularioResgistroAsistencia @ref="formularioResgistroAsistencia" EditarRegistro="EditarRegistroAsistencia" RegistroAsistencias="RegistroAsistencias" />

}
@* else 
{
    <p>Cargando...</p>
} *@

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "fecha")]
    public DateTime fechaSeleccionado { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "turnoid")]
    public int turnoSeleccionado { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "cursoid")]
    public int cursoSeleccionado { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "asignaturaid")]
    public int asignaturaSeleccionado { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "docenteid")]
    public int docenteSeleccionado { get; set; }

    Dictionary<string, string> queryStringsDict = new Dictionary<string, string>();
    [Parameter]
    [SupplyParameterFromQuery(Name = "pagina")]
    public int paginaActual { get; set; } = 1;
    private int paginasTotales;

    private List<SelectorMultipleModel> DocentesSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> CursosSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> AsignaturasSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> TurnosSeleccionables { get; set; } = new List<SelectorMultipleModel>();

    private bool MostrarFormulario = false;

    private List<RegistroAsistencia> RegistroAsistencias = null!;

    private FormularioResgistroAsistencia? formularioResgistroAsistencia;


    protected override async Task OnInitializedAsync()
    {
        if (paginaActual == 0) { paginaActual = 1; }
        if (fechaSeleccionado == DateTime.MinValue) fechaSeleccionado = DateTime.Now;

        var queryStrings = GenerarQueryStrings();
        await RealizarBusqueda(queryStrings);
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await CargarRegistroAsistencias();
    }


    private async Task RealizarBusqueda(string queryStrings)
    {
        var respuestaHTTP = await repositorio.Get<CursoControlAsistenciaDTO>("api/cursos/asistencias?" + queryStrings);

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("cursos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            var modelo = respuestaHTTP.Response!;

            TurnosSeleccionables = modelo.Turnos.Select(x => new SelectorMultipleModel(x.TurnoId.ToString(), $"{x.Descripcion}")).ToList();
            CursosSeleccionables = modelo.Cursos.Select(x => new SelectorMultipleModel(x.CursoId.ToString(), $"{x.ToString()}")).ToList();
            AsignaturasSeleccionables = modelo.Asignaturas.Select(x => new SelectorMultipleModel(x.AsignaturaId.ToString(), $"{x.Nombre} (cod. {x.AsignaturaId})")).ToList();
            DocentesSeleccionables = modelo.Docentes.Select(x => new SelectorMultipleModel(x.DocenteId.ToString(), $"{x.Nombre} {x.Apellido}")).ToList();

            if (modelo.RegistroAsistencias?.Count > 0)
            {
                RegistroAsistencias = modelo.RegistroAsistencias;
                MostrarFormulario = true;
            }

        }
    }


    protected async Task EditarRegistroAsistencia( RegistroAsistencia registro )
    {
        var respuestaHTTP = await repositorio.Put("api/cursos/registrarasistencia", registro);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            Console.WriteLine($"Registro asistencia actualizado");
            // await swal.ShowCompletadoOk();
            // navigationManager.NavigateTo("/asistencias/buscar");
        }
    }

    private async Task TituloKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {

        }
    }

    private async Task CargarRegistroAsistencias()
    {
        var queryStrings = GenerarQueryStrings();
        navigationManager.NavigateTo("/asistencias/buscar?" + queryStrings);
        await RealizarBusqueda(queryStrings);
    }


    private string GenerarQueryStrings()
    {
        if (queryStringsDict is null) { queryStringsDict = new Dictionary<string, string>(); }

        queryStringsDict["fecha"] = fechaSeleccionado.ToString("yyyy-MM-dd");
        queryStringsDict["turnoid"] = turnoSeleccionado.ToString();
        queryStringsDict["cursoid"] = cursoSeleccionado.ToString();
        queryStringsDict["asignaturaid"] = asignaturaSeleccionado.ToString();
        queryStringsDict["pagina"] = paginaActual.ToString();

        // generoid=7&titulo=moana...
        var valoresPorDefecto = new List<string>() { "false", "", "0" };

        return string.Join("&", queryStringsDict
                                .Where(x => !valoresPorDefecto.Contains(x.Value.ToLower()))
                                .Select(x => $"{x.Key}={System.Web.HttpUtility.UrlEncode(x.Value)}")
                                .ToArray());
    }


    

    private async Task LimpiarOnClick()
    {
        // nombre = "";
        // turnoSeleccionado = 0;
        // enProceso = false;
        // matriculados = false;
        //await CargarEstudiantesCurso();
    }
}