﻿@inject NavigationManager navigationManager

@* <h3>@curso.Anio @curso.Division</h3> *@

<EditForm Model="RegistroAsistencias">
    <DataAnnotationsValidator />
   
        <ListadoGenerico Listado="RegistroAsistencias">
        <HayRegistrosCompleto>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Asistencia</th>
                        <th>Observaciones</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in RegistroAsistencias!)
                    {
                        <tr>
                            <td>
                                
                                <InputRadioGroup @bind-Value="@item.EstadoAsistencia">
                                    @foreach (var asistencia in (EstadoAsistencia[])Enum
                                    .GetValues(typeof(EstadoAsistencia)))
                                    {
                                        <div>
                                            <label>
                                                <InputRadio Value="asistencia" @oninput="@(() => ModificarAsistencia(item, asistencia))"/>
                                                @asistencia.ToDescription()
                                            </label>
                                        </div>
                                        
                                    }
                                </InputRadioGroup>
                            </td>
                            <td>
                                <div class="form-group row mb-3">
                                    <div class="col-auto col-lg-4">
                                        <InputText placeholder="Observaciones" class="form-control" 
                                        @bind-Value="@item.Observacion"
                                        @onblur="@(() => ModificarAsistenciaDescripcion(item))" />
                                        <ValidationMessage For="@(() => item.Observacion)" />
                                    </div>
                                </div>

                               
                            </td>
                            <td>
                                @item.Estudiante!.Nombre 
                            </td>
                            <td>
                                @item.Estudiante.Apellido 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </HayRegistrosCompleto>
    </ListadoGenerico>

</EditForm>

@code {
    string? imagenURL;
    private Switch switch1 = default!;

    int contador = 0;

    protected override void OnInitialized()
    {


    }


    [Parameter]
    [EditorRequired]
    public List<RegistroAsistencia> RegistroAsistencias { get; set; } = null!;

    [Parameter][EditorRequired] public EventCallback<RegistroAsistencia> EditarRegistro { get; set; }

    private async Task ModificarAsistenciaDescripcion(RegistroAsistencia registro)
    {
        await EditarRegistro.InvokeAsync(registro);
    }

    private async Task ModificarAsistencia(RegistroAsistencia registro, EstadoAsistencia estado)
    {
        registro.EstadoAsistencia = estado;
        Console.WriteLine($"Modificando Asistencia {registro.Estudiante!.Apellido} - {registro.EstadoAsistencia.ToDescription()}");

        await EditarRegistro.InvokeAsync(registro);
    }
}
