﻿@page "/control-asistencia"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
<h3>Control de Asistencia</h3>
<hr />

<div class="mb-3">
    <a href="/control-asistencia/editar"
       class="btn btn-info">
    Controlar Asistencia</a>
</div>

@code {

}