﻿@page "/docentes/crear"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Docente</h3>

<FormularioDocente @ref="formularioDocente" OnValidSubmit="Crear" Docente="Docente" />

@code {
    private Docente Docente = new Docente();

    private FormularioDocente? formularioDocente;

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/docentes", Docente);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioDocente!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("docentes");
        }
    }
}
