﻿@page "/docentes/editar/{DocenteId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Docente</h3>

@if (Docente is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioDocente @ref="formularioDocente" Docente="Docente" OnValidSubmit="Editar" />
}

@code {
    [Parameter] public int DocenteId { get; set; }
    Docente? Docente;

    private FormularioDocente? formularioDocente;


    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(DocenteId);
        var respuestaHTTP = await repositorio.Get<Docente>($"api/docentes/{DocenteId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("docentes");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Docente = respuestaHTTP.Response;
        }
    }

    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/docentes", Docente);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioDocente!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("docentes");
        }
    }
}
