﻿@inject SweetAlertService swal;

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContex" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />   

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nombre: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Nombre" class="form-control" @bind-Value="@Docente.Nombre" />
            <ValidationMessage For="@(() => Docente.Nombre)" />
        </div>
    </div>
       
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Apellido: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Apellido" class="form-control" @bind-Value="@Docente.Apellido" />
            <ValidationMessage For="@(() => Docente.Apellido)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Correo: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Correo" class="form-control" @bind-Value="@Docente.Correo" />
            <ValidationMessage For="@(() => Docente.Correo)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Teléfono: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputText placeholder="Teléfono" class="form-control" @bind-Value="@Docente.Telefono" onKeyPress="if(this.value.length==12) return false;" />
            <ValidationMessage For="@(() => Docente.Telefono)" />
        </div>
    </div>

  
    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Nro ficha Censal: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput class="form-control" maxlength="2" @bind-Value="@Docente.FichaCensal" onKeyPress="if(this.value.length==9) return false;" />
            <ValidationMessage For="@(() => Docente.FichaCensal)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">CUIT: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <NumberInput placeholder="CUIT" class="form-control" @bind-Value="@Docente.CUIT" onKeyPress="if(this.value.length==11) return false;" />
            <ValidationMessage For="@(() => Docente.CUIT)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Situación de Revista: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Docente.SituacionDeRevista">
                <option value="0" default>-- Situación de Revista --</option>
                @foreach (var situ in Enum.GetValues(typeof(SituacionRevista)))
                {
                    <option value="@Convert.ToInt32(situ)">@situ</option>
                }
               
            </InputSelect>
            <ValidationMessage For="@(() => Docente.SituacionDeRevista)" />
        </div>
    </div>


   @*  <div class="mb-3">
        <InputImg Label="Foto" ImagenSeleccionada="ImagenSeleccionada" ImagenURL="@imagenURL" />
    </div> *@

    @* <div class="mb-3 form-markdown">
        <InputMarkdown @bind-Value="@Docente.Biografia"
        For=@(() => Docente.Biografia)
        Label="Biografía" />
    </div> *@

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    private EditContext editContex = null!;

    string? imagenURL;


    protected override void OnInitialized()
    {
        editContex = new(Docente);
        // if (!string.IsNullOrEmpty(Docente.Foto))
        // {
        //     imagenURL = Docente.Foto;
        //     Docente.Foto = null;
        // }
    }

    // private void ImagenSeleccionada(string imagenBase64)
    // {
    //     Docente.Foto = imagenBase64;
    //     imagenURL = null;
    // }

    [Parameter]
    [EditorRequired]
    public Docente Docente { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContex.IsModified();

        if (!formularioFueEditado)
            return;

        if (FormularioPosteadoConExito)
            return;

        var confirmado = await swal.ConfirmarPerderCambios();

        if (confirmado)
            return;

        context.PreventNavigation();
    }

}
