﻿@page "/docentes"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@* @attribute [Authorize(Roles = "admin")] *@

<h3>Indice Docentes</h3>
<hr />

<div class="mb-3">
    <a href="docentes/crear" class="btn btn-info">Crear docente</a>
</div>

<Paginacion PaginaActual="paginaActual" 
    PaginasTotales="paginasTotales"
    PaginaSeleccionada="PaginaSeleccionada"
    ></Paginacion>

<ListadoGenerico Listado="Docentes">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Docentes!)
                {
                    <tr>
                        <td>
                            <Button Color="ButtonColor.Success" Size="Size.Small" 
                            @onclick=@(() => navigationManager.NavigateTo($"docentes/editar/{item.DocenteId}"))>Editar</Button>
                            <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick=@(() => Borrar(item))>Borrar</Button>
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Apellido
                        </td>
                        <td>
                            @item.Correo
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>


@code {
    public List<Docente>? Docentes { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var respuestaHTTP = await repositorio.Get<List<Docente>>($"api/docentes?pagina={pagina}");
        Docentes = respuestaHTTP.Response!;
        paginasTotales = 
        int.Parse(respuestaHTTP.HttpResponseMessage
            .Headers.GetValues("totalPaginas").FirstOrDefault()!);
    }

    private async Task Borrar(Docente docente)
    {

        var confirmado = await swal.Confirmar("¿Esta seguro que desea eliminar?");

        if (!confirmado)
            return;

        var responseHTTP = await repositorio.Delete($"api/docentes/{docente.DocenteId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("docentes");
            }
            else
            {
                var mensajeError = await responseHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }
}
