﻿@page "/legajos"
@inject SweetAlertService Swal;

<h3>IndiceLegajos</h3>

// Sample.razor
<button class="btn btn-primary"
@onclick="@(async () => await Swal.FireAsync("Any fool can use a computer"))">
	Try me!
</button>



@code {

}
