﻿@page "/cursos/crear"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Crear Curso</h3>


@if (MostrarFormulario)
{
    <FormularioCurso @ref="formularioCurso" OnValidSubmit="Crear" CursoActualizacionDTO="cursoActualizacionDTO" />
}
else
{
    <p>Cargando...</p>
}


@code {
    private CursoActualizacionDTO cursoActualizacionDTO = new CursoActualizacionDTO();

    private bool MostrarFormulario = false;

    private FormularioCurso? formularioCurso;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();
        MostrarFormulario = true;
    }

    private async Task Cargar()
    {
        var respuestaHTTP = await repositorio.Get<CursoActualizacionDTO>($"api/cursos/crear");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("cursos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            cursoActualizacionDTO = respuestaHTTP.Response!;
        }

    }

    async Task Crear()
    {
        var httpResponse = await repositorio.Post("api/cursos", cursoActualizacionDTO);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioCurso!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("cursos");
        }
    }
}
