﻿@page "/cursos/editar/{CursoId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Curso</h3>

@if (MostrarFormulario)
{
    <FormularioCurso @ref="formularioCurso" OnValidSubmit="Editar" CursoActualizacionDTO="cursoActualizacionDTO" />
}
else
{
    <p>Cargando...</p>
}

@code {
    [Parameter] public int CursoId { get; set; }

    private bool MostrarFormulario = false;

    private CursoActualizacionDTO cursoActualizacionDTO = new CursoActualizacionDTO();

    private FormularioCurso? formularioCurso;

    protected override async Task OnInitializedAsync()
    {
        await Cargar();        
    }

    private async Task Cargar()
    {
        var respuestaHTTP = await repositorio.Get<CursoActualizacionDTO>($"api/cursos/actualizar/{CursoId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("cursos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            cursoActualizacionDTO = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }
    }


    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/cursos", cursoActualizacionDTO);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioCurso!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("cursos");
        }
    }
}
