﻿@inject SweetAlertService swal;

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContex" OnValidSubmit="OnDataAnnotationsValidated">
    <DataAnnotationsValidator />   

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Año: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <NumberInput placeholder="Año" class="form-control" @bind-Value="@Curso.Anio" />
            <ValidationMessage For="@(() => Curso.Anio)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">División: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Division" class="form-control" @bind-Value="@Curso.Division" />
            <ValidationMessage For="@(() => Curso.Division)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Turno: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Curso.TurnoId">
                <option value="0" default>-- Seleccionar un turno --</option>
                @foreach (var coord in TurnosSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => Curso.TurnoId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Tutor: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Curso.TutorId">
                <option value="0" default>-- Seleccionar un Tutor --</option>
                @foreach (var coord in DocentesSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Curso.TutorId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Preceptor: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Curso.PreceptorId">
                <option value="0" default>-- Seleccionar un Preceptor --</option>
                @foreach (var coord in DocentesSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Curso.PreceptorId)" />
        </div>
    </div>


    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Delegado: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Curso.DelegadoId">
                <option value="0" default>-- Seleccionar un Estudiante --</option>
                @foreach (var coord in EstudiantesSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Curso.DelegadoId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label>Asignaturas:</label>
        <hr />
        <SelectorMultiple NoSeleccionados="AsignaturasNoSeleccionadas" Seleccionados="AsignaturasSeleccionadas" />
    </div>
    

    <button class="btn btn-success">Guardar Cambios</button>

</EditForm>

@code {
    private EditContext editContex = null!;
    private Curso Curso = null!;

    [Parameter]
    [EditorRequired]
    public CursoActualizacionDTO CursoActualizacionDTO { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EventCallback OnValidSubmit { get; set; }

    private List<SelectorMultipleModel> DocentesSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> AsignaturasSeleccionadas { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> AsignaturasNoSeleccionadas { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> TurnosSeleccionables { get; set; } = new List<SelectorMultipleModel>();
    private List<SelectorMultipleModel> EstudiantesSeleccionables { get; set; } = new List<SelectorMultipleModel>();


    string? imagenURL;


    protected override void OnInitialized()
    {
        Curso = CursoActualizacionDTO.Curso;
        editContex = new(Curso);

        DocentesSeleccionables = CursoActualizacionDTO.Docentes.Select(x => new SelectorMultipleModel(x.DocenteId.ToString(), $"{x.Nombre} {x.Apellido}")).ToList();
        TurnosSeleccionables = CursoActualizacionDTO.Turnos.Select(x => new SelectorMultipleModel(x.TurnoId.ToString(), $"{x.Descripcion}")).ToList();
        AsignaturasSeleccionadas = CursoActualizacionDTO.AsignaturasSeleccionadas.Select(x => new SelectorMultipleModel(x.AsignaturaId.ToString(), $"{x.Nombre} (cod. {x.AsignaturaId})")).ToList();
        AsignaturasNoSeleccionadas = CursoActualizacionDTO.AsignaturasNoSeleccionadas.Select(x => new SelectorMultipleModel(x.AsignaturaId.ToString(), $"{x.Nombre} (cod. {x.AsignaturaId})")).ToList();
        EstudiantesSeleccionables = CursoActualizacionDTO.Estudiantes.Select(x => new SelectorMultipleModel(x.EstudianteId.ToString(), $"{x.Nombre} {x.Apellido}")).ToList();
                    
    }
       

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContex.IsModified();

        if (!formularioFueEditado)
            return;

        if (FormularioPosteadoConExito)
            return;

        var confirmado = await swal.ConfirmarPerderCambios();

        if (confirmado)
            return;

        context.PreventNavigation();
    }

    private async Task OnDataAnnotationsValidated()
    {
        CursoActualizacionDTO.AsignaturasIds = AsignaturasSeleccionadas.Select(x => int.Parse(x.Llave)).ToList();
        await OnValidSubmit.InvokeAsync();
    }

}
