﻿@page "/cursos"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@* @attribute [Authorize(Roles = "admin")] *@

<h3>Indice Cursos</h3>
<hr />

<div class="mb-3">
    <a href="Cursos/crear" class="btn btn-info">Crear Curso</a>
</div>

<Paginacion PaginaActual="paginaActual" 
    PaginasTotales="paginasTotales"
    PaginaSeleccionada="PaginaSeleccionada"
    ></Paginacion>

<ListadoGenerico Listado="Cursos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Division</th>
                    <th>Anio</th>
                    <th>Turno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Cursos!)
                {
                    <tr>
                        <td>
                            <Button Color="ButtonColor.Success" Size="Size.Small" 
                            @onclick=@(() => navigationManager.NavigateTo($"cursos/editar/{item.CursoId}"))>Editar</Button>
                            <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick=@(() => Borrar(item))>Borrar</Button>
                        </td>
                        <td>
                            @item.Division
                        </td>
                        <td>
                            @item.Anio
                        </td>
                        <td>
                            @item.TurnoId
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>


@code {
    public List<Curso>? Cursos { get; set; }
    private int paginaActual = 1;
    private int paginasTotales;

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task PaginaSeleccionada(int pagina)
    {
        paginaActual = pagina;
        await Cargar(pagina);
    }

    private async Task Cargar(int pagina = 1)
    {
        var respuestaHTTP = await repositorio.Get<List<Curso>>($"api/cursos?pagina={pagina}");
        Cursos = respuestaHTTP.Response!;
        paginasTotales = 
        int.Parse(respuestaHTTP.HttpResponseMessage
            .Headers.GetValues("totalPaginas").FirstOrDefault()!);
    }

    private async Task Borrar(Curso Curso)
    {

        var confirmado = await swal.Confirmar("¿Esta seguro que desea eliminar?");

        if (!confirmado)
            return;

        var responseHTTP = await repositorio.Delete($"api/cursos/{Curso.CursoId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("cursos");
            }
            else
            {
                var mensajeError = await responseHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }
}
