﻿@page "/turnos/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Nuevo Turno</h3>
<hr />
<br>

@if(MostrarFormulario)
{
    <FormularioTurno @ref="formularioTurno" Turno="Turno" Docentes="Docentes" OnValidSubmit="Crear" />
}
else
{
    <p>Cargando...</p>
}

@code {
    private Turno Turno = new Turno();

    private List<Docente> Docentes = new List<Docente>();
    private bool MostrarFormulario = false;

    private FormularioTurno? formularioTurno;

    protected override async Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<List<Docente>>($"api/docentes");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("cursos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Docentes = respuestaHTTP.Response!;
            MostrarFormulario = true;
        }
    }

    private async Task Crear()
    {

        var httpResponse = await repositorio.Post("api/turnos", Turno);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioTurno!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("turnos");
        }

        Console.WriteLine($"Creando Turno {Turno.Descripcion}");

    }
}