﻿@page "/turnos/editar/{TurnoId:int}"
@using Microsoft.AspNetCore.Authorization;
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Editar Turno</h3>

@if (Turno is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioTurno @ref="formularioTurno" Turno="Turno" Docentes="Docentes" OnValidSubmit="Editar" />
}


@code {
    [Parameter] public int TurnoId { get; set; }
    private Turno? Turno;
    private List<Docente> Docentes = null!;

    private FormularioTurno? formularioTurno;

    protected override async Task OnInitializedAsync()
    {
        await GetDocentes();
        await GetTurno();
    }

    private async Task GetTurno()
    {
        var respuestaHTTP = await repositorio.Get<Turno>($"api/turnos/{TurnoId}");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("turnos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Turno = respuestaHTTP.Response;
        }        
    }

    private async Task GetDocentes()
    {
        var respuestaHTTP = await repositorio.Get<List<Docente>>($"api/docentes");

        if (respuestaHTTP.Error)
        {
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("turnos");
            }
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Docentes = respuestaHTTP.Response!;
        }

    }

    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/turnos", Turno);

        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formularioTurno!.FormularioPosteadoConExito = true;
            await swal.ShowCompletadoOk();
            navigationManager.NavigateTo("turnos");

        }
    }

}
