﻿@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Descripcón: <span class="text-danger">*</span></label>
        <div class="col-auto col-lg-4">
            <InputText placeholder="Descripcón" class="form-control" @bind-Value="@Turno.Descripcion" />
            <ValidationMessage For="@(() => Turno.Descripcion)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Vicedirector: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Turno.ViceDirectorId">
                <option value="0" default>-- Seleccionar un Turno --</option>
                @foreach (var coord in DocentesSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Turno.TurnoId)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-auto col-lg-3 col-form-label">Director: <span class="text-danger">*</span></label>
        <div class="col-auto">
            <InputSelect class="form-select" @bind-Value="@Turno.DirectorId">
                <option value="0" default>-- Seleccionar un Turno --</option>
                @foreach (var coord in DocentesSeleccionables)
                {
                    <option value="@Convert.ToInt32(coord.Llave)">@coord.Valor</option>
                }

            </InputSelect>
            <ValidationMessage For="@(() => Turno.DirectorId)" />
        </div>
    </div>

    <button class="btn btn-success" type="submit">Guardar Cambios</button>
</EditForm>

@code {
    private EditContext editContext = null!;

    protected override void OnInitialized()
    {
        editContext = new(Turno);
        DocentesSeleccionables = Docentes.Select(x => new SelectorMultipleModel(x.DocenteId.ToString(), $"{x.Nombre} {x.Apellido}")).ToList();
    }

    private List<SelectorMultipleModel> DocentesSeleccionables { get; set; } = new List<SelectorMultipleModel>();

    [Parameter]
    [EditorRequired]
    public List<Docente> Docentes { get; set; } = new List<Docente>();

    [EditorRequired]
    [Parameter]
    public Turno Turno { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    public bool FormularioPosteadoConExito { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormularioPosteadoConExito)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }
}
