﻿@page "/turnos"
@using Microsoft.AspNetCore.Authorization;
@inject IRepositorio repositorio
@inject NavigationManager navigationManager
@inject SweetAlertService swal
@attribute [Authorize(Roles = "admin")]

<h3>Indice Turnos</h3>

<div class="mb-3">
    <a class="btn btn-info" href="turnos/crear">Crear turno</a>
</div>

<ListadoGenerico Listado="Turnos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Descripción</th>
                    <th>Vicedirector</th>
                    <th>Director</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Turnos!)
                {
                    <tr>
                        <td>
                            <Button Color="ButtonColor.Success" Size="Size.Small"
                            @onclick=@(() => navigationManager.NavigateTo($"turnos/editar/{item.TurnoId}"))>Editar</Button>
                            <Button Color="ButtonColor.Danger" Size="Size.Small" @onclick=@(() => Borrar(item))>Borrar</Button>
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.ViceDirector?.Nombre @item.ViceDirector?.Apellido
                        </td>
                        <td>
                            @item.Director?.Nombre @item.Director?.Apellido
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    public List<Turno>? Turnos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Cargar();
    }

    private async Task Cargar()
    {
        var respuestaHTTP = await repositorio.Get<List<Turno>>("api/turnos");
        Turnos = respuestaHTTP.Response!;
    }

    private async Task Borrar(Turno turno)
    {
        var responseHTTP = await repositorio.Delete($"api/turnos/{turno.TurnoId}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                var mensajeError = await responseHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Cargar();
        }
    }
}
