﻿@page "/"
@page "/home"

<PageTitle>Regla de 3</PageTitle>


<AuthorizeView Roles="admin">
    <Authorized>
        <p>Estás autenticado, @context.User.Identity?.Name </p>
    </Authorized>
    <NotAuthorized>
        <p>No estás autorizado para ver esto</p>
    </NotAuthorized>
</AuthorizeView>


<h3>Menu Principal</h3>
<hr />
<br />

<div class="mb-3">
    <a href="estudiantes/crear" class="btn btn-success">Inscribir Estudiante</a>
</div>

<hr />

<div class="mb-3">
    <a href="control-asistencia/editar" class="btn btn-info">Control de Asistencia</a>
</div>

<hr />

<div class="mb-3">
    <a href="estudiantes" class="btn btn-warning">Buscar Estudiantes</a>
</div>

<hr />
